@page {
    @bottom-center {
        content:  "Confidencial";
        font-family: "Calibri";
    }
}

body {
    font-family: "Calibri";
    font-size: 14px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: brown;
}

